.custom-dropdown-style {
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.custom-dropdown-style:hover {
  background-color: rgba(128, 128, 128, 0.1); /* light gray transparent */
  color: black;
  border: 1px solid gray;
  border-radius: 6px;
}
