.overlayBackground {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.overlayContainer {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  padding: 30px;
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

